



// *
// 	font-size: 62.5%

body {
	font-weight: normal;
	font-size: 95%;
	@include breakpoint($med) {
    font-size: 100%;
  }
}

p {
	font-weight: normal;
	font-size: 95%;
	@include breakpoint($med) {
    font-size: 100%;
  }
}


.entry-title,
.entry-title a {
  @include font($trade-gothic, 1.4em);
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}


a {
  text-decoration: none;
}


// a.underlinify, .underlinify a {
// 	display: inline-block;
// 	width: auto;
// 	position: relative;
// }
//
// a.underlinify:hover::after, .underlinify a:hover::after {
// 	opacity: 1;
// 	transition: opacity .25s;
// }
//
// a.underlinify::after, .underlinify li a::after {
// 	content: "";
// 	position: absolute;
// 	bottom: -6px;
// 	left: 0px;
// 	border-bottom: 2px solid $brand-primary;
// 	border-radius: 2px;
// 	width: 100%;
// 	opacity: 0;
// }

a:hover {
	text-decoration: none;
}


a:focus {
  color: $yellow !important;
	outline: none;
	text-decoration: none;
}
